body,
button,
input,
select,
textarea {
  font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53", tahoma, arial;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.head {
  background-color: #2c2f33;
  height: 52px;
  overflow: hidden;
  .head-main {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    font-family: PingFangSC-Regular;
  }
  .head-menu {
    width: 100%;
    float: right;
    ul {
      padding-top: 13px;
    }
    li {
      list-style: none;
      display: inline;
      position: relative;
      z-index: 2;
      font-size: 14px;
      color: #fff;
      opacity: 0.8;
      padding: 10px 15px;
      margin-left: 4px;
      cursor: pointer;
      top: 4px;
    }
    li:hover {
      color: #f37327;
    }
  }
}
.company-logo {
  text-align: right;
  width: 125px;
  display: block;
  height: 20px;
  margin-top: 16px;
  float: left;
}
.logo-line {
  float: left;
  color: white;
  font-style: normal;
  font-size: 20px;
  line-height: 52px;
  margin: 0 10px;
  opacity: 0.8;
}
.logo-right {
  float: left;
  color: white;
  font-style: normal;
  font-size: 14px;
  line-height: 54px;
  opacity: 0.8;
}
.welcome {
  width: 340px;
  float: right;
  line-height: 28px;
  color: #fff;
  text-align: right;
}
// 主体
.wrap-main {
  height: 478px;
  width: 100%;
  background: url("https://img.alicdn.com/tfs/TB14TEEm7CWBuNjy0FaXXXUlXXa-1440-478.png");
  overflow: hidden;
  position: relative;
  font-family: PingFangSC-Regular;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 56, 88, 0.4);
}
.wrap-search {
  width: 490px;
  height: 296px;
  position: absolute;
  margin-left: -245px;
  margin-top: -148px;
  top: 50%;
  left: 50%;
}
.text-introduction {
  font-size: 54px;
  color: #fff;
  line-height: 56px;
  font-family: Rufina-Bold;
}
.chinese {
  font-size: 34px;
  color: #fff;
  margin-bottom: 38px;
  line-height: 48px;
  font-family: PingFangSC-Thin;
}
.search-input-wrap {
  width: 490px;
  height: 60px;
  position: relative;
  border: 0px;
  background: none;
  margin: 0 auto;
}
.input-mask {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  opacity: 0.1;
}
.input-wrap {
  position: relative;
  display: flex;
  padding-top: 9px;
  padding-left: 10px;
  input {
    width: 358px;
    padding-left: 10px;
    height: 40px;
    border-radius: 3px;
    border: 0;
  }
  .button {
    color: #fff;
    background: #f37327;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    width: 92px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    margin-left: 10px;
  }
}
.serch-content {
  padding: 10px 10px;
  cursor: pointer;
  li {
    list-style: none;
    float: left;
    color: white;
    padding-right: 10px;
  }
  li:hover {
    color: #f37327;
  }
}
.latest-position {
  width: 850px;
  height: 300px;
  box-shadow: 0 0 15px 0 rgba(31, 56, 88, 0.08);
  border-radius: 3px;
  float: left;
  position: relative;
  overflow: hidden;
}
.more-positions {
  display: flex;
  justify-content: space-between;
  height: 49px;
  line-height: 49px;
  color: #000000;
  font-size: 14px;
  border-bottom: 1px solid rgba(31, 56, 88, 0.06);
  padding: 0 14px;
  position: relative;
  background: white;
  z-index: 2;
}
.positions-content {
  overflow: hidden;
  padding: 0 14px;
  line-height: 50px;
  position: absolute;
  width: 820px;
  a {
    float: left;
    color: #3c99d8;
    cursor: pointer;
    font-size: 14px;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .time {
    font-style: normal;
    float: right;
    width: 70px;
    text-align: right;
    font-size: 14px;
    color: rgba(31, 56, 88, 0.6);
  }
  .city {
    float: right;
    font-style: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 70px;
    width: 202px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.newPosition-content {
  width: 1180px;
  height: 300px;
  margin: 32px auto;
}
.newPosition-content-r {
  width: 310px;
  float: right;
  .cloud {
    height: 140px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px 0 rgba(31, 56, 88, 0.08);
    border-radius: 3px;
    line-height: 140px;
    text-align: center;
    img {
      width: 179px;
      vertical-align: middle;
    }
  }
  .intelligence {
    height: 140px;
    box-shadow: 0 0 15px 0 rgba(31, 56, 88, 0.08);
    border-radius: 3px;
    line-height: 140px;
    text-align: center;
    img {
      width: 179px;
      vertical-align: middle;
    }
  }
}
.footer-content {
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: #2c2f33;
  color: #fff;
  text-align: center;
  span{
    opacity: .4;
  }
}
